<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CompanyManage</a>
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Register </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        </ul>
    </div>
  </nav> -->
<section class="vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form >

                                <div class="form-outline mb-4">
                                    <label class="form-label" >Your Name</label>
                                    <input type="text" #username name="username"  class="form-control form-control-lg" />
                                </div>


                                <div class="form-outline mb-4">
                                    <label class="form-label" >Password</label>
                                    <input type="password" #password name="password"  class="form-control form-control-lg" />
                                </div>

                     

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" disabled value=""
                                         />
                                    <label class="form-check-label" for="form2Example3g">
                                        I agree all statements in <a href="#!" class="text-body"><u>Terms of
                                                service</u></a>
                                    </label>
                                </div>
                                <b><a routerLink="login" style="margin-left: 230px;">Login Here</a></b>


                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="RegisterUSer(username.value,password.value)">Register</button>
                                </div>

                               
                                        
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      